# Virtual environments
venv/
.venv/
.env/
.env.*

# Git
.git/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/

# Build artifacts
dist/
build/

# Testing
.pytest_cache/
.tox/
.coverage
htmlcov/
pytest.ini
tests/

# Dependencies
requirements-dev.txt

# Logs
*.log
pip-log.txt
pip-delete-this-directory.txt

# macOS
.DS_Store