[Unit]
Description=Anomaly Detector - Satellite Health Monitoring
Documentation=https://github.com/yourteam/satellite-telemetry
After=network-online.target
Wants=network-online.target
Before=ground-station-api.service

[Service]
Type=simple
User=anomaly
Group=anomaly
WorkingDirectory=/Users/yordanostesfayhagos/devops-lab/devops-satellite-telemetry/service-c
ExecStart=/Users/yordanostesfayhagos/devops-lab/devops-satellite-telemetry/service-c/venv/bin/python /Users/yordanostesfayhagos/devops-lab/devops-satellite-telemetry/service-c/app.py
Restart=always
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=10
StandardOutput=journal
StandardError=journal
SyslogIdentifier=anomaly-detector

# Security hardening
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
